body {
    background: #ffe6cc;
    padding: 10px;
}

h3 {
    background: #ffe6cc;
    padding-left: 5px;
}

#left {
    margin-left: 10px;
    padding: 10px;  
    float: left;
    width: 25%;
    background: white;
}

#image1 {
    float: left;
    height: 50px;
    width: 50px;
}

#text_in_left {
    text-align: left;
}
 
.right {
    padding: 10px;
    background: white;
    margin-left: 20px;
    width: 68%;
    float: left;
    margin-bottom: 30px;
}

#image {
    width: 100%;
    display: block;
    margin: 10px auto 20px auto;
}

#side {
    float: right;
    margin-right: 10px;
    width: 250px;
}

#underline {
    font-size: 18px;
    border-bottom: red 2px solid;
    display: block;
    text-align: center;
}

#center {
    font-size: 15px;
    display: block;
    text-align: center;
}

#table {
    overflow: auto;
}

th {
    padding-left: 30px;
    padding-right: 30px;
}

td {
    text-align: center;
}

span {
    font-weight: bold;
}

table, 
th, 
td{
    border: black 2px solid;
    border-collapse: collapse;
}

.removebullets {
    list-style:none;
}

@media (max-width: 1037px) {

    #left {
        margin-left: 10px;
        padding: 10px;
        width: calc(100% - 20px);
        background: white;
        margin-bottom: 10px;
    }

    #image {
        float: left;
        width: 30%;
        margin: 10px;
    }

    #text_in_left {
        text-align: left;
    }
 
    .right {
        padding: 10px;
        background: white;
        margin-left: 10px;
        width: calc(100% - 20px);
        margin-bottom: 30px;
    }

}


@media (max-width: 500px) {

    #image {
        width: 100%;
        display: block;
        margin: 10px auto 20px auto;
    }

    #side {
        float: left;
        margin-right: 10px;
        width: 250px;
    }

}


